@model IEnumerable<BIGSCHOOL_LEVANTHANG.Models.Course>
@{ 
    ViewBag.Title = "Home Page";
}

<div class="row">
    <ul class="course">
        @foreach(var courses in Model)
        {
            <li>
                <div class="date">
                    <div class="month">
                        @courses.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @courses.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @courses.Lecturer.Name
                    </span>
                    <span class="category">
                        @courses.Category.Name
                    </span>
                </div>
            </li>
        }
    </ul>
</div>

